body{
    background-image: url(https://image.freepik.com/vector-gratis/plantilla-menu-restaurante_52683-917.jpg);
    background-size: cover;
}
* {
    padding: 0px;
    margin: 0px;
}
.menu {
   margin:auto;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

ul, ol {
    list-style: none;
}
.menu li a {
    background-color: rgb(#db0808);
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu > li {
    float: left;
}

.menu li a:hover {
 background-color: rgba(31, 30, 30, 0.52);
 border-color: (31, 30, 39, 0.52);
 border-radius: 200px;
}
.menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul {
    display: block;
}

.menu li ul li {
    position: relative;
}
.menu li ul li ul {
    right: -140px;
    top: 0px;
}
.menu1 {
    background-color: #2ec4eada;
    border-radius: 200px;
}
.menu2 {
    background-color: #d16590;
    border-radius: 200px;
}